<ion-tabs (ionTabsDidChange)="tabChanged($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detalhe" [hidden]='!isDetalhe'>
      <ion-icon name="apps"></ion-icon>
      <ion-label>Detalhes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="editar" [hidden]='!isEditar'>
      <ion-icon name="apps"></ion-icon>
      <ion-label>Editar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="adicionar">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Adicionar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
