<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Bolos e Tortas</ion-card-subtitle>
        <ion-card-title>Bem vindo ao administrador</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p></p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item *ngFor="let b of bolos" class="example-item" href="/tabs/(details:{{b._id}})">
        <!-- <ion-icon name="desktop" slot="start"></ion-icon> -->
        {{b.nome}}
        <div class="item-note" slot="end">
          {{b.preco | currency}}
        </div>
      </ion-item>
    </ion-card>
</ion-content>
