.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.example-viewport {
	padding: 16px;
  margin-bottom:24px;
  margin-inline-end:16px;
  margin-inline-start:16px;
  margin-left:16px;
  margin-right:16px;
  margin-top: 24px;
  height: 50%;
  // width: var(--frame-width);
  background: white;
  // border: solid 1px #999;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
  transform: translateZ(0);
  border-radius: 8px;
  box-sizing: border-box;
}
.example-item {
  height: 50px;
  padding: 5px 10px;
}
